.Form-Container-Dashboard {
  max-width: 800px;
  margin: 100px auto;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.Quote {
  margin-bottom: 60px;
}

.input-field {
  padding: 20px;
  margin-bottom: 5px;
}

.submit_button {
  padding: 10px;
}
